html
  head
    title Home
    script.
  body
    h1 #{id}로 사용중
    h3 가진 금액 : #{money}
    ul
      li
        a(href='/logout')
          |로그아웃
      li
        a(href='/view/team')
          |팀 목록 보기
      li
        a(href='/view/project')
          |프로젝트 목록 보기
      li
        a(href='/recharge')
          |충전하기
      li
        a(href='/write')
          |글쓰기
    div(id=container)
      table(style={width : 700})
        tr
          td 번호
          td 글 내용
          td 글쓴이
          td 삭제
        -for(var i=0 ; i < posts.length; i++)
          tr
            td=posts[i].post_no
            td=posts[i].post_content
            td=posts[i].name
            td
              -var a = id
              if posts[i].name == a
                a(href='/delete/'+posts[i].post_no) x
